
<!-- // Name: Hil Patel
// id: 301215094
// fileName: index.ejs
// Date: October 08, 2022 -->


<!-- importing partial ejs files -->
<%- include('../partials/header') %>

<%- include('../partials/navbar') %>

<section class="indexSection" id="indexSection">

    <div class="content">
        <span class="hi"> Hey there....</span>
        
        <h4>I am Hil Patel, a FullStack Developer</h4>
        <p class="txt"><%= indexIntro %> </p>
        <a href="/about" class="btn">About me</a>
    </div>

  

</section>


<%- include('../partials/footer') %>